<app-nav></app-nav>
<div class="container">
    <div class="row g-3">
        <div class="col col-12 col sm-12 col md-12 col lg-12 col xl-12 col-xxl-12">
            <label for="" class="form-label">Course Title</label>
            <input name="coursetitle" [(ngModel)]="coursetitle" type="text" class="form-control">
        </div>
        <div class="col col-12 col sm-12 col md-12 col lg-12 col xl-12 col-xxl-12">
            <button (click)="readValues()" class="btn btn-success">Search</button>
        </div>
        
    </div>
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" >
            <table class="table" *ngFor="let i of searchCourse">
                <thead>
                    <tr>
                        <th scope="col">Course Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Venue</th>
                        <th scope="col">Date</th>
                        
                        
                        
                      </tr>
                </thead>
             
                
                <tbody>
                  <tr >
                   
                    
                    <td>{{i.coursetitle}}</td>
                    <td>{{i.description}}</td>
                    <td>{{i.duration}}</td>
                    <td>{{i.venue}}</td>
                    <td>{{i.date}}</td>
                    
                   
                    
                  </tr>
                 
                </tbody>
              </table>
        </div>
    </div>

